<!--
Simple COVID-19 charting code, single-page HTML javascript.
-->
<!doctype html>
<html>
<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.1.0/papaparse.js" integrity="sha256-iAuxnf8Cwr0yrQkpf6oQG4PaL/oVmoer6V/RfX2KQws=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.min.js" integrity="sha256-VeNaFBVDhoX3H+gJ37DpT/nTuZTdjYro9yBruHjVmoQ=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartist/0.11.4/chartist.js" integrity="sha256-Nyn8cCQAr3TDltwQENC7vbHQaLKy9xuq8xon2BNZgPk=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chartist/0.11.4/chartist.min.css" integrity="sha256-seGyqLj5T52Hx8W7/YTajtNXGXQf+IksfkcaKGoTkbY=" crossorigin="anonymous" />
<script src="lib/chartist-logaxis.js"></script>
<script src="lib/usa_states.js"></script>
<script src="https://codeyellowbv.github.io/chartist-plugin-legend/chartist-plugin-legend.js"></script>
<link rel="stylesheet" href="lib/chart.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js" integrity="sha256-NSuqgY2hCZJUN6hDMFfdxvkexI7+iLxXQbL540RQ/c4=" crossorigin="anonymous"></script>
<style>
* { font-family: 'Arial', sans-serif; font-size: 10pt; }
.pane-menu { display: inline-block; width: 24%; }
.pane-chart { display: inline-block; width: 75%; vertical-align: top; }
</style>
</head>
<body>
<div id="app" class="pane-menu">
<h1>USA COVID-19 Time Series</h1>
<p>Whole-country stats along with the top 10 states are shown;
data are pulled directly from
<a href="https://github.com/CSSEGISandData/COVID-19/" >Johns Hopkins CSSE</a>.
<p>
<select v-model="chosen_series">
  <option v-for="option in series_choices" v-bind:value="option">
    {{ option }}
  </option>
</select>
<select v-model="chosen_stat">
  <option v-for="option in stat_choices" v-bind:value="option">
    {{ option }}
  </option>
</select>
<select v-model="chosen_scale">
  <option v-for="option in chosen_stat == 'deltas' ? ['linear'] : scale_choices" v-bind:value="option">
    {{ option }}
  </option>
</select>
</div
><div id="chart" class="pane-chart ct-chart ct-perfect-fourth"></div>
</body>
<script>
function csv_url(seriesname) {
  var ts_base_url = "https://raw.githubusercontent.com/CSSEGISandData" +
    "/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/";
  return ts_base_url + "time_series_19-covid-" + seriesname + ".csv";
}
function load_csse_data(loaded) {
  var results = {}, pending = 3;
  'Confirmed Deaths Recovered'.split(' ').map(s => {
    Papa.parse(csv_url(s), {
      download: true,
      complete: r => {
        results[s.toLowerCase()] = r.data;
        pending -= 1;
        if (!pending) loaded(results);
      }
    })
  })
}
function parse_date(name) {
  return /^(\d{1,2})\/(\d{1,2})\/(\d{2})$/.exec(name);
}
function fieldnum(names, pat) {
  return names.findIndex(n => RegExp(pat, 'i').exec(n))
}
function first_date_field(names) {
  return names.findIndex(n => !!parse_date(n));
}
function rollup_ts(series, state_filter, country_filter) {
  var names = series[0],
    state_i = fieldnum(names, 'state'),
    country_i = fieldnum(names, 'country'),
    ts_i = first_date_field(names),
    ts_names = names.slice(ts_i),
    totals = _.fill(Array(ts_names.length), 0);
  for (var row of series.slice(1)) {
    if (state_filter && !state_filter(row[state_i]) ||
        country_filter &&  !country_filter(row[country_i])) {
      continue;
    }
    for (var i = ts_i; i < names.length; ++i) {
      totals[i - ts_i] += parseInt(row[i]);
    }
  }
  return [ts_names, totals];
}
function series_deltas(series) {
  var deltas = _.fill(Array(series.length), 0);
  deltas[0] = series[0];
  for (var i = 1; i < series.length; ++i) {
    deltas[i] = series[i] - series[i - 1];
  }
  return deltas;
}
var csse;
function get_state_data(field, chosen_abbrev, chosen_full) {
  var dates, totals, deltas;
  [dates, totals] = rollup_ts(csse[field],
    state => { return !chosen_abbrev ||
       state.endsWith(chosen_abbrev) ||
       state == chosen_full },
    country => { return /^US$/.exec(country) });
  deltas = series_deltas(totals);
  return { dates: dates, totals: totals, deltas: deltas }
}
function plot_data(field, stat, scale) {
  field = field || 'confirmed';
  stat = stat || 'totals';
  scale = scale || 'log10';
  var national_data = get_state_data(field, null);
  var first_nz = _.findIndex(national_data.totals, i => i > 0);
  var national_series = national_data[stat].slice(first_nz);
  var dates = national_data.dates.slice(first_nz);
  var state_series = _.transform(USA_STATES, (r, v, k) => {
    r[k] = get_state_data(field, k, v)[stat].slice(first_nz);
    if (/log/.exec(scale)) {
      r[k] = r[k].map(x => x > 0 ? x : null)
    }
  });
  var top_states = _.toPairs(state_series)
      .sort((x, y) => (_.last(y[1]) || 0) - (_.last(x[1]) || 0)).slice(0, 10);
  var chart = new Chartist.Line('#chart', {
    labels: dates.map(x => x.replace(/(\d+)\/(\d+)\/20$/, '$1/\n$2')),
    series: _.concat([national_series], top_states.map(x => x[1]))
  }, {
    classNames: {
      gridMinor: 'ct-grid-minor'
    },
    axisY: {
      showMinorGrid: true,
      type: Chartist.AutoScaleAxis,
      scale: scale,
    },
    chartPadding: {
      top: 0,
      bottom: 0,
      left: 0,
      right: 0,
    },
    plugins: [
      Chartist.plugins.legend({
        legendNames: _.concat(['US'], top_states.map(x => x[0]))
      })
    ]
  });
  return chart;
}
var theapp = new Vue({
  el: '#app',
  data: {
    series_choices: ['confirmed', 'deaths'], // 'recovered' seems incomplete.
    stat_choices: ['totals', 'deltas'],
    scale_choices: ['linear', 'log10'],
    chosen_series: 'confirmed',
    chosen_stat: 'totals',
    chosen_scale: 'log10'
  },
  watch: {
    chosen_series: function(val) { this.draw_chart(); },
    chosen_stat: function(val) {
      if (val == 'deltas' && this.chosen_scale == 'log10') {
        this.chosen_scale = 'linear';
      }
      this.draw_chart();
    },
    chosen_scale: function(val) { this.draw_chart(); }
  },
  methods: {
    draw_chart: function() {
      plot_data(this.chosen_series, this.chosen_stat, this.chosen_scale);
    }
  }
});
load_csse_data((d) => {csse = d; plot_data()});
</script>
