body {
 background: black;
 color: #ddd;
}
.ct-label {
  fill: #fff;
  color: #fff;
  opacity: 0.8;
}
.ct-axis-title {
  fill: rgba(255,255,255,0.8);
  color: rgba(255,255,255,0.8);
}
.ct-grid {
  stroke: rgba(255,255,255,0.4);
}
select {
  color: #ccc;
  border: 1px solid #333;
  background-image:url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),linear-gradient(to bottom, #333 0%,#000 100%);
}
select:focus {
  color: #fff;
}
.searchline .vue-simple-suggest .input-wrapper input,
.searchline .vue-simple-suggest .suggestions {
   background: #111; color: #ddd;
   border-color: #555;
}
.searchline button {
  background-image: linear-gradient(to bottom, #333 0%,#000 100%);
  color: #ccc;
  border: 1px solid #555;
}
.searchline button:focus {
  color: #fff;
}
a { color: skyblue; }

/* Lighten up the gray series color */
.ct-legend .ct-series-4:before {
    background-color: #756d6f;
    border-color: #756d6f;
}
.ct-series-e .ct-bar, .ct-series-e .ct-line, .ct-series-e .ct-point, .ct-series-e .ct-slice-donut {
    stroke: #756d6f;
}
